:root {
  --un: 1.75rem;
  --ln: 0.1rem;

  --base-font: calc(var(--un) / 1.5)/var(--un) 'DM Sans', sans-serif;

  --fg-col: #111;
  --bg-col: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

p {
  font: var(--base-font);
}

h1 {
  font: var(--base-font);
  font-size: calc(1.2 * var(--un));
  line-height: calc(1.2 * 1.2 * var(--un));
  font-weight: 700;
}

h2 {
  font: var(--base-font);
  font-size: var(--un);
}

.base-font {
  font: var(--base-font)
}

.fg-col {
  color: var(--fg-col);
}

.no-margin {
  margin: 0;
}

.fill-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}